<div class="container main-containter">
  <h1>Firechat</h1>
  
  <div class="container m-3">
    <div class="row">
      <div class="col-md-4">QUE P</div>
      <div class="col-md-4 offset-md-4">
          <app-login></app-login>
      </div>
    </div>
    
  </div>

  <div  *ngIf="chatservce.userlog; else datos" 
      class="chat-window pb-5">
      <app-chat></app-chat>
  </div>

  <ng-template #datos>
    <h3 class="alert alert-danger">Inicia Session Por Favor</h3>
  </ng-template>
  

</div>
