<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Auth0 APP</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item " routerLinkActive="active">
        <a class="nav-link" routerLink="home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="precios">Precios</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="protegida"
        *ngIf="authservice.isAuthenticated()">Protegida</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">

      <!-- El authservice ..  Hay que llamarlo directo del servicio -->
      <button class="btn btn-outline-success my-2 my-sm-0" 
              *ngIf="!authservice.isAuthenticated()"
              type="button"
              (click)="authservice.login()">
              Log In
      </button>

      <!-- Todos los metodos llevan parentesis OJOJOJOJOJOJ -->
      <button class="btn btn-outline-success my-2 my-sm-0" 
              *ngIf="authservice.isAuthenticated()"
              type="button"
              (click)="authservice.logout()">
              Salir
      </button>
              <!-- Hay que hacer una configuracion en AllowUrl De auth0 -->
    </form>
  </div>
</nav>