
<div class="container rounded pt-5">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">
            <i class="fas fa-search"></i>
          </span>
        </div>
<!-- 
        Bueno, aca puse un Ngmodel para traer el parametro de la url
        * con ese parametro llamamos una funcion de buscar en el servicio -->
        <input type="text" 
              [(ngModel)]="palabra"
              name="palabra"
              (keyup.enter)="busquedaapp()" 
              class="form-control" 
              value="palabra"
              placeholder="Buscar Pelicula" 
              aria-label="Buscar Pelicula" 
              aria-describedby="basic-addon1">
      </div>

      <app-galerias *ngIf="mostrarsearch" [movies]="busqueda"></app-galerias>
</div>